.InpValid {
  color: red;
  width: 60%;
  text-align: center;
  margin: 1%;
  padding: 2%;
  display: inline-block;
}

.Inp {
  background-color: rgba(240, 240, 240, 0.9);
  color: rgba(60, 31, 228, 0.6);
  width: 100%;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  margin: 1%;
  padding: 2%;
  border: 1px solid #ccc;
  box-shadow: 0px 6px 4px #eee;
}

.letter {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  width: 12px;
  cursor: pointer;
}
